
BarcodeKit.xcodeproj/project.pbxproj

BarcodeKit.xcodeproj/project.xcworkspace/contents.xcworkspacedata

BarcodeKit.xcodeproj/xcuserdata/rob.xcuserdatad/xcschemes/BarcodeKit.xcscheme

BarcodeKit.xcodeproj/project.xcworkspace/xcuserdata/rob.xcuserdatad/UserInterfaceState.xcuserstate

BarcodeKit.xcodeproj/xcuserdata/rob.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

BarcodeKit.xcodeproj/xcuserdata/rob.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
